<div *ngIf="doc" class="content ui-g">
    <div class="ui-g-12">
      <div class="ui-g-2">
        Doctor name:
      </div>
      <div class="ui-g-4">
        {{doc.name}}
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-2">
        City:
      </div>
      <div class="ui-g-3">
        {{doc.city.name}}
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-2">
        Profession:
      </div>
      <div class="ui-g-4">
        {{doc.profession.name}}
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-2">
        Rating:
      </div>
      <div class="ui-g-4">
        <p-rating [(ngModel)]="doc.rating" [cancel]="false" [readonly]="true"></p-rating>
      </div>
    </div>
    <div class="ui-g-12">
      <p-button label="Print" icon="pi pi-print" iconPos="left" (click)="onPrint()" [styleClass]="'print'"></p-button>
    </div>
</div>
